<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.debug.examples.core"

   class="org.eclipse.debug.examples.core.pda.DebugCorePlugin">
   <runtime/>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Path to Perl executable in the local file system"
            name="perlExecutable3"
            initialValue="d:\eclipseCpp\eclipse\workspace\LuaDebuggerWithSocket\Debug\LuaDebuggerWithSocket.exe"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="pda.sourceLocator"
            delegate="org.eclipse.debug.examples.core.pda.launcher.PDALaunchDelegate"
            sourcePathComputerId="pda.sourcePathComputer"
            name="Lua Application"
            id="pda.launchType"
            modes="run, debug"/>
   </extension>

   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.debug.examples.core.pda.sourcelookup.PDASourceLookupDirector"
            name="Lua Source Locator"
            id="pda.sourceLocator"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.debug.examples.core.pda.sourcelookup.PDASourcePathComputerDelegate"
            id="pda.sourcePathComputer"/>
   </extension>
    
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.debug.examples.core.pda.breakpoints.PDALineBreakpoint"
            name="PDA Line Breakpoints"
            markerType="org.eclipse.debug.examples.core.pda.markerType.lineBreakpoint"
            id="pda.lineBreakpoint"/>
      <breakpoint
            class="org.eclipse.debug.examples.core.pda.breakpoints.PDAWatchpoint"
            name="PDA Watchpoints"
            markerType="org.eclipse.debug.examples.core.pda.markerType.watchpoint"
            id="pda.watchpoint"/>
   </extension>
   <extension
         id="pda.markerType.lineBreakpoint"
         name="PDA Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="pda.markerType.watchpoint"
         name="PDA Watchpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.examples.core.pda.markerType.lineBreakpoint"/>
      <persistent value="true"/>
   </extension>

   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
            class="org.eclipse.debug.examples.core.pda.model.WordStructureDelegate"
            description="Words"
            id="pda.wordStructure"
            modelIdentifier="pda.debugModel"/>
   </extension>
</plugin>
